html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #81e8cc;
  height: 100%;
}

img {
  max-width: 50px;
}

.clickable {
  cursor: pointer;
}

#nav_area,
.navbar {
  background-color: #148c6c !important;
}

.input-group-text {
  background-color: #f0b71f;
  color: #fafafa;
}

.navbar-dark .navbar-nav .nav-link {
   color: rgba(255,255,255,.75);
}
