html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #81e8cc;
}

img {
  max-width: 50px;
}

.clickable {
  cursor: pointer;
}

#nav_area,
.navbar {
  background-color: #148c6c !important;
}
