<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>To-do Companion | {% block title %}{% endblock %}</title>

    {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}

      <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
      <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">
      <link rel="mask-icon" href="{{ url_for('static', filename='icons/safari-pinned-tab.svg') }}" color="#5bbad5">
      <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-config" content="{{ url_for('static', filename='icons/browserconfig.xml') }}">
      <meta name="theme-color" content="#ffffff">

      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="all">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    {% endblock %}
  {% endblock %}
</head>
<body>
  {% block navbar %}
    {% include "navbar.html" %}
  {% endblock %}
  
  <div class="container h-100">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{ category }} alert-dismissible">
        {{ message }}
        <button class="close" type="button" data-dismiss="alert">&times;</button>
      </div>
    {% endfor %}
    
    {% block content %}{% endblock %}
  
    {% block scripts %}
      {{ bootstrap.load_js() }}
    {% endblock %}
  </div>
</body>
</html>
