<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pikksaar's app | {% block title %}{% endblock %}</title>

    {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}

      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="all">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    {% endblock %}
  {% endblock %}
</head>
<body>
  <div class="container-lg h-100">
    {% block navbar %}
      {% include "navbar.html" %}
    {% endblock %}
  
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{ category }} alert-dismissible">
        {{ message }}
        <button class="close" type="button" data-dismiss="alert">&times;</button>
      </div>
    {% endfor %}
    
    {% block content %}{% endblock %}
  
    {% block scripts %}
      {{ bootstrap.load_js() }}
    {% endblock %}
  </div>
</body>
</html>
